<div class="page">
    <a routerLink="/" class="back">← Volver al catálogo</a>

    <p *ngIf="cargando()">Cargando...</p>
    <p class="error" *ngIf="error()">{{ error() }}</p>

    <section *ngIf="juego() as v" class="card">
        <header class="top">
            <div>
                <h2 class="title">{{ v.titulo }}</h2>
                <div class="sub">
                    <span><b>Empresa:</b>
                        <a class="empresa-link" [routerLink]="['/empresa', v.idEmpresa]">
                            {{ v.empresa }}
                        </a>
                    </span>
                    <span class="dot">•</span>
                    <span><b>Lanzamiento:</b> {{ v.fechaLanzamiento }}</span>
                </div>
            </div>

            <div class="price">
                Q{{ v.precio }}
            </div>
        </header>

        <div class="meta">
            <div><b>Clasificación:</b> {{ v.clasificacion }} ({{ v.edadMinima }}+)</div>
            <div><b>Calificación promedio:</b> {{ v.calificacionPromedio }}</div>
        </div>

        <div class="section">
            <h3>Descripción</h3>
            <p>{{ v.descripcion }}</p>
        </div>

        <div class="section">
            <h3>Requisitos mínimos</h3>
            <p class="mono">{{ v.requisitosMinimos }}</p>
        </div>

        <div class="section" *ngIf="v.categorias.length">
            <h3>Categorías</h3>
            <div class="chips">
                <span class="chip" *ngFor="let c of v.categorias">{{ c }}</span>
            </div>
        </div>

        <div class="section">
            <h3>Portada</h3>
            <p class="mono">{{ v.imagenPortada }}</p>
            <!-- aquí vamos a poder cambiar a <img> si la ruta es absoluta o mapeable -->
        </div>

        <!-- Nueva sección de compra -->
        <div class="section">
            <h3>Comprar</h3>

            <ng-container *ngIf="sessionState.esUsuario(); else noUser">
                <label class="label">
                    Fecha de compra:
                    <input type="date" [value]="fechaCompra()"
                        (change)="fechaCompra.set(($any($event.target)).value)" />
                </label>

                <button class="btn" (click)="comprar()" [disabled]="comprando()">
                    {{ comprando() ? 'Comprando...' : 'Comprar ahora' }}
                </button>

                <p class="ok" *ngIf="okCompra()">{{ okCompra() }}</p>
                <a class="btn-link" *ngIf="okCompra()" routerLink="/biblioteca">Ver en mi biblioteca</a>
                <p class="error" *ngIf="errorCompra()">{{ errorCompra() }}</p>
            </ng-container>

            <ng-template #noUser>
                <p class="muted">
                    Inicia sesión como usuario para comprar.
                </p>
            </ng-template>
        </div>
    </section>

    <p class="hint" *ngIf="resp()">{{ resp()!.mensaje }}</p>
</div>