.actions {
    margin-top: 10px;
}

.title-link {
    font-weight: 800;
    text-decoration: none;
    color: inherit;
}

.title-link:hover {
    text-decoration: underline;
}

.ok {
    color: #7CFC98;
    opacity: .9;
}